html{
  font-size:10px;
}
body{
  font-size:1.6rem;
  line-height:1.5;
  text-align:center;
  color:rgb(243, 240, 240);
  text-shadow: 4px 4px 4px rgba(150, 154, 150, 1);
  margin:0;
  background-image:url(./src/backgroundtinified.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size:8rem;
}
@media(max-width:460px){
  h1{
    font-size: 3.5rem;
    line-height:1.25rem;
  }
  #main{
    margin:0
  }
  #img-caption{
    margin:16px 0 5px 0;
  }
}
a{
  text-decoration:none;
  color:rgb(243, 240, 240);
  border: 2px solid white;
  font-size: 3rem;
}

#main{
  margin:30px;
  padding:10px;
  border-radius:5px;
  
}

img{
  border-radius:50px 50px;
  max-width:100%;
  height:auto;
  margin:auto;
  display:block;
  border: 2px solid white;
}
#img-caption{
    font-size:3rem;
    margin:16px 0 5px 0;
  }
ul{
  list-style:none;
  padding-left: 0;
 }
 p, li{
   font-size: 3rem;
 }

